<br>
<h1 class="home_header" appColor>TRANG CHỦ</h1>
<div class="home_banner">
    <img src="../../../assets/img/banner3.jpg" alt="banner" class="img_banner">
</div>
<hr>
<div>
  <!-- <h2>SẢN PHẨM</h2> -->
  <h1 class="slogan">{{"just do it" | uppercase}}</h1>
  <h2 class="title">{{"shop early, relax later" | uppercase}}</h2>
  <p class="content">{{"Make your December extra easy"}}</p>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a  [routerLink]="['/products']" [routerLinkActive]="'router-link-active'" class="btn btn-outline-dark" appColor>SHOP NOW</a>
  </div>
  <br>
  <br>
</div>
